@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    @for(var i =0; i < 20; i++)
    {
        <div class="item-product">
            <div class="item-image">
                <img src="images/img-1.jpg" alt="2" />
            </div>
            <div class="item-desc">
                asdasdasdasdasdasdasdasdasdas
            </div>
            <div class="item-price">
                4,142 night
            </div>
        </div>
    };
</div>
