@page "/category"
@layout AdminLayout
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@rendermode InteractiveServer


<h3>AddCategory</h3>
 <AuthorizeView>
    <Authorized>
        <h3>Hello ${UserName}</h3>
    </Authorized>
</AuthorizeView>

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    public string UserName { get; set; } = string.Empty;
    public string Role { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await authenticationState!;
        if (authState is not null)
        {
            UserName = authState.User.Identity.Name;
        }
        else
        {
            UserName = string.Empty;
        }
        
    }


}
