<div class="footer-container">
    <div class="footer-copyright">
        <div class="copyright-container">
            <ul>
                <li>
                    <a href="#">© 2024 Airbnb, Inc.</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Sitemap</a>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Your Privacy Choices</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {

}
