<div class="header-container">
    <div class="logo">
        <AppLogo />
    </div>
    <div class="middle-menu">
        <ul>
            <li>
                <a href="#">Stays</a>
            </li>
            <li>
                <a href="#">Experiences</a>
            </li>
            <li>
                <a href="#">Online Experiences</a>
            </li>
        </ul>
    </div>
    <div class="right-menu">
        <ul>
            <li>
                <a href="#" class="airbnb-text">Airbnb your home</a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-globe"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-person-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

@code {

}
