.container {
    background-color: #FFFFFF;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:50px 80px 80px 1fr 50px;
    margin-left:60px;
    margin-right:60px;
}

.header, .search, .locations, .main-content, .footer {
    grid-column: 1 / 7;
}

.locations{
    position:sticky;
    top:0;
    background-color:#FFFFFF;
}



