@inherits LayoutComponentBase

<div class="container">
    <div class="header">
        <AppHeader />
    </div>
    <div class="search">
        <AppSearch />
    </div>
    <div class="locations shadow">
        <AppLocations />
    </div>
    <div class="main-content">
        @Body
    </div>
    <div class="footer">
        Footer
    </div>
</div>




