@inherits LayoutComponentBase

<RadzenComponents />


<div class="public-container">
    <div class="header">
        <AppHeader />
    </div>
    <div class="main-content">
        @Body
    </div>
    <div class="footer">
        <AppFooter />
    </div>
</div>
